---
layout: default
---

<section>

	My name is Augustine Mavor-Parker, see the <a href="/about">about</a> page for more information about me.
	My research can be found on <a href="https://scholar.google.com/citations?user=J7XkuPwAAAAJ&hl=en">Google
		Scholar</a>
	My twitter is @mavorparker.
	<div class="divider"></div>

</section>

<section>
	{% assign sorted = ((site.documents | sort: date) | reverse) %}
	{% assign recent_activities = "" | split: "/" %}
	{% for post in sorted limit:5 %}
	{% assign recent_activities = recent_activities | push: post %}
	{% endfor %}
	{% assign recent_activities = (recent_activities | group_by: "type") %}
	{% for group in recent_activities %}
	{% assign anitem = group.items | first %}
	<h3 class="code" style="text-transform: capitalize;">{{ anitem.type }}</h3>
	{% for item in group.items %}
	<ul>
		<li>
			<div class="title">
				<a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}">
					<img src="{{ item.imageurl }}" alt="" style="width: 100%;">
					{{ item.title }}
				</a>
			</div>
		</li>
	</ul>
	{% endfor %}
	{% endfor %}

</section>