---
layout: default
---

<section>

This will be your Home page.

<div class="divider"></div>

</section>

<section>

	<div class="center">
		<h1 class="title">Recent Activites</h1>
	</div>

	<div class="divider"></div>

	{% assign sorted = ((site.documents | sort: type) | sort: date) | reverse %}
	{% for post in sorted limit:5 %}
		{% unless post.next %}
			<h3 class="code" style="text-transform: capitalize;">{{ post.type }}</h3>
		{% else %}
			{% capture type %}{{ post.type }}{% endcapture %}
			{% capture ntype %}{{ post.next.type }}{% endcapture %}
			{% if type != ntype %}
				<h3 class="code" style="text-transform: capitalize;">{{ post.type }}</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>
	{% endfor %}

</section>
